@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title= "Resultado de la Evaluación";
}

<h1>Resultado</h1>

<p>Promedio:@ViewBag.Promedio</p>
<p>Estado del estudiante:@ViewBag.Estado</p>
